# ==========================================
# NeowsForge 项目 Git 忽略清单 (.gitignore)
# ==========================================

# 1. 游戏原始解包数据与反编译源码 (体积过大且涉及版权，绝对不能上传)
SlayTheSpire2pck/
sts2/

# 2. 编辑器/IDE 的本地配置 (只对你自己的电脑有用，传上去会干扰别人)
.idea/
.vscode/

# 3. Python 运行产生的临时缓存文件
__pycache__/
*.pyc

# 4. 操作系统产生的垃圾文件
.DS_Store
Thumbs.db